#home-page {
  margin: 0px;
  padding: 0px;
  /* background-image: url("https://indorpg.com/images/bgmon.jpg"); */
  width: 100%;
  height: 88vh;
}

#home-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 200px;
}

#home-menu .card {
  transition: 0.5s;
  opacity: 0.4;
  z-index: 2;
}

#home-menu .card:hover {
  transition: 0.5s;
  opacity: 1;
}

#home-menu img {
  transition: transform 0.5s ease;
  z-index: 1;
}

#home-menu img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.8s;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: rgba(100, 100, 100, 0.5);
  opacity: 0.85;
}
